html,
body{
    height: 100%;
    font-size: 1rem;
}
.gradient{
background: #89d6f5;
background: linear-gradient(90deg, rgba(137, 214, 245, 1) 21%, rgba(153, 255, 196, 1) 82%);
}
.gradient-2{
background: #89d6f5;
background: linear-gradient(90deg, rgba(137, 214, 245, 1) 21%, rgba(153, 255, 196, 1) 82%);
}


.c-white{
 color: white;
 margin-bottom: 3px;
 margin-top: -2px  ;
 

 

}

.b-white{
 color: white;
 margin-bottom: -2px;
 margin-top: -2px  ;

}
.icon{
    color: white;
    border-radius: 100%;
    height: 5rem;
    width: 5rem;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}
.radii{
    border-radius: 10%;
}
.don{
    padding-bottom: 25px;
}
.back{
    background: transparent;

}
